html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

#gameCanvas {
    width: 100%;
    height: 100%;
}

#gameCanvas canvas {
    margin: 0 auto 0 auto;
}
